

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

* {
  font-family: "Lilita One", sans-serif;
  font-weight: 100;
  font-style: normal;
}

main {
  color: white;
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  background: rgba(15, 15, 15, 0.85);
  grid-column: 2 / span 5;
  font-size: 40px;
  padding: 32px;
  margin-bottom: 350px;
  text-align: center;
}

header h1 {
  font-weight: bold;
  font-size: 3.5rem;
  color: magenta;
}

section {
  grid-column: 2 / 8;
  padding: 16px;
  background: rgba(15, 15, 15, 0.85);
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 350px;
  border-radius: 16px;
  text-align: justify;
}

.left {
  grid-column: 6 / 12;
}

.right {
  grid-column: 2 / 8;
}

footer {
  background: rgba(15, 15, 15, 0.95);
  grid-column: 1 / -1;
  width: 95%;
  justify-self: center;
  align-self: end;
  font-size: 16px;
  padding: 16px;
  text-align: center;
  border-radius: 80px;
}

#foot {
  color: magenta;
  font-weight: bold;
  font-size: 2rem;
}

#cat-section {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 80px;
}

img {
  border: 6px solid white;
  border-radius: 16px;
  margin-top: 16px;
}
